.App {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(42, 46, 70);
  height: 100vh;
  width: 100vw;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
}
